article.product
    span.product__rating.star-decoration #{card.rating}
    picture.product__pic
        source(srcset=card.srcXs, media=card.mediaXs)
        source(srcset=card.srcSm, media=card.mediaSm)
        source(srcset=card.srcMd, media=card.mediaMd)
        img.product__img(src=card.srcLg, alt="Изображение товара")
    h3.product__title(tabindex="0") #{card.name}
    span.product__price #{card.price}
    del.product__price.product__price_old #{card.oldPrice}
    button.product__btn.btn-reset.outline-btn Купить
