doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="favicon.svg" type="image/x-icon")
        title SitDownPls - Каталог
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap")
        link(rel="stylesheet" href="css/main.css")
    body
        - var navigationBreadcrumbs =  [{ title: "Главная", href: "#" }, { title: "Каталог", href: "#" }, { title: "Диваны", href: "#" }, { title: "Прямые диваны", href: "#" }]
        include ./shared/_header.pug

        main.main
            section.catalog.section
                .catalog__container.container
                    .catalog__wrapper.wrapper
                        .catalog__aside
                            .catalog__filter.filter
                                h3.filter__title.title Фильтровать&nbsp;по:
                                form.filter__form(action="#" method="get")
                                    fieldset.filter__fieldset.filter__fieldset_colors
                                        legend.filter__legend Цвет
                                        - var colors = [{ id: "brown", name: "Коричневый", isSelected: false }, { id: "black", name: "Черный", isSelected: true }, { id: "blue", name: "Синий", isSelected: false }, { id: "white", name: "Белый", isSelected: false }]
                                        each color in colors
                                            .filter__input.input.input_checkbox
                                                label.input__label.input__label_checkbox(for=color.id)
                                                    input.input__control.input__control_checkbox.hidden(type="checkbox" id=color.id name=color.id checked=color.isSelected)
                                                    span.input__text.custom-checkbox #{color.name}
                                    fieldset.filter__fieldset.filter__fieldset_category
                                        legend.filter__legend Категория
                                        - var categories = [{ id: "sofas", name: "Диваны", isSelected: true }, { id: "armchairs", name: "Кресла", isSelected: false }]
                                        each category in categories
                                            .filter__input.input.input_checkbox
                                                label.input__label.input__label_checkbox(for=category.id)
                                                    input.input__control.input__control_checkbox.hidden(type="checkbox" id=category.id name=category.id checked=category.isSelected)
                                                    span.input__text.custom-checkbox #{category.name}
                                    fieldset.filter__fieldset.filter__fieldset_price
                                        legend.filter__legend Цена
                                        .filter__input.filter__input_first.input.input_number
                                            label.input__label(for="from") от
                                            input.input__control.input__control_number(type="number" id="from" name="from" value="2000")
                                        .filter__input.input.input_number
                                            label.input__label(for="to") до
                                            input.input__control.input__control_number(type="number" id="to" name="to" value="150000")

                            article.filter__ad.ad-third.ad
                                .ad-third__wrapper
                                    h3.ad-third__title Оксфорд 1950
                                    p.ad-third__desc Новая коллекция изысканных кресел
                                    button.ad-third__btn.btn-reset
                                        span В&nbsp;Каталог
                                        span.icon-container
                                            svg.icon.icon-arrow(width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                use(xlink:href="img/sprite.svg#arrow")

                        h2.catalog__title.title Каталог

                        .catalog__section
                            - var cards = [{ srcLg: "img/catalog/catalogs/catalog-1-lg.webp", srcMd: "img/catalog/catalogs/catalog-1-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/catalog/catalogs/catalog-1-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/catalog/catalogs/catalog-1-xs.webp", mediaXs: "(max-width: 576px)", name: "Диван кожаный \"R-94\"", price: "94 990 руб", rating: "5.0" }, { srcLg: "img/catalog/catalogs/catalog-2-lg.webp", srcMd: "img/catalog/catalogs/catalog-2-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/catalog/catalogs/catalog-2-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/catalog/catalogs/catalog-2-xs.webp", mediaXs: "(max-width: 576px)", name: "Диван апартековый \"T-75\"", price: "69 990 руб", rating: "4.9" }, { srcLg: "img/catalog/catalogs/catalog-3-lg.webp", srcMd: "img/catalog/catalogs/catalog-3-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/catalog/catalogs/catalog-3-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/catalog/catalogs/catalog-3-xs.webp", mediaXs: "(max-width: 576px)", name: "Диван тканевый \"D-31\"", price: "28 490 руб", rating: "4.8" }, { srcLg: "img/catalog/catalogs/catalog-4-lg.webp", srcMd: "img/catalog/catalogs/catalog-4-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/catalog/catalogs/catalog-4-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/catalog/catalogs/catalog-4-xs.webp", mediaXs: "(max-width: 576px)", name: "Диван велюровый \"Y-68\"", price: "22 990 руб", rating: "4.8" }, { srcLg: "img/catalog/catalogs/catalog-5-lg.webp", srcMd: "img/catalog/catalogs/catalog-5-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/catalog/catalogs/catalog-5-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/catalog/catalogs/catalog-5-xs.webp", mediaXs: "(max-width: 576px)", name: "Диван из шинила \"W-95\"", price: "22 990 руб", rating: "4.8" }, { srcLg: "img/catalog/catalogs/catalog-6-lg.webp", srcMd: "img/catalog/catalogs/catalog-6-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/catalog/catalogs/catalog-6-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/catalog/catalogs/catalog-6-xs.webp", mediaXs: "(max-width: 576px)", name: "Диван флоковый \"G-41\"", price: "17 990 руб", rating: "4.8" }, { srcLg: "img/catalog/catalogs/catalog-7-lg.webp", srcMd: "img/catalog/catalogs/catalog-7-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/catalog/catalogs/catalog-7-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/catalog/catalogs/catalog-7-xs.webp", mediaXs: "(max-width: 576px)", name: "Диван шиниловый \"V-43\"", price: "19 990 руб", rating: "4.8" }, { srcLg: "img/catalog/catalogs/catalog-8-lg.webp", srcMd: "img/catalog/catalogs/catalog-8-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/catalog/catalogs/catalog-8-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/catalog/catalogs/catalog-8-xs.webp", mediaXs: "(max-width: 576px)", name: "Диван велюровый \"S-99\"", price: "19 990 руб", rating: "4.7" }, { srcLg: "img/catalog/catalogs/catalog-9-lg.webp", srcMd: "img/catalog/catalogs/catalog-9-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/catalog/catalogs/catalog-9-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/catalog/catalogs/catalog-9-xs.webp", mediaXs: "(max-width: 576px)", name: "Диван из кожзама \"F-85\"", price: "26 990 руб", rating: "4.7" }]
                            ul.catalog__list.list-reset
                                each card in cards
                                    li.catalog__item
                                        include ./templates/_productCard.pug
                            nav.catalog__paginator.paginator
                                a.paginator__page.paginator__page_active(href="#") 1
                                a.paginator__page(href="#") 2
                                a.paginator__page(href="#") 3

        include ./shared/_footer.pug
