doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="favicon.svg" type="image/x-icon")
    title SitDownPls
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap")
    link(rel="stylesheet" href="css/main.css")
  body
    include ./shared/_header.pug

    main.main
      article.ad-first.ad.section
        .ad-first__container.container
          .ad-first__wrapper.wrapper
            h3.ad-first__title(tabindex="0") Скидка&nbsp;15% на&nbsp;первую покупку
            button.ad-first__btn.btn-reset.primary-btn Получить!

      section.offers.section
        .offers__container.container
          .offers__wrapper.wrapper
            h2.offers__title.title Специальные предложения
            - var cards = [{ srcLg: "img/home/offers/offer-1-lg.webp", srcMd: "img/home/offers/offer-1-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/home/offers/offer-1-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/home/offers/offer-1-xs.webp", mediaXs: "(max-width: 576px)", name: "Кресло велюровое \"X-24\"", price: "15 990 руб", oldPrice: "24 990 руб", sale: "- 9000" }, { srcLg: "img/home/offers/offer-2-lg.webp", srcMd: "img/home/offers/offer-2-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/home/offers/offer-2-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/home/offers/offer-2-xs.webp", mediaXs: "(max-width: 576px)", name: "Диван тканевый \"Z-44\"", price: "22 990 руб", oldPrice: "32 990 руб", sale: "- 10 000" }, { srcLg: "img/home/offers/offer-3-lg.webp", srcMd: "img/home/offers/offer-3-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/home/offers/offer-3-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/home/offers/offer-3-xs.webp", mediaXs: "(max-width: 576px)", name: "Будильник  \"Quartz-23\"", price: "1 290 руб", oldPrice: "1 890 руб", sale: "- 600" }, { srcLg: "img/home/offers/offer-4-lg.webp", srcMd: "img/home/offers/offer-4-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/home/offers/offer-4-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/home/offers/offer-4-xs.webp", mediaXs: "(max-width: 576px)", name: "Мини-скульптура \"Oh my deer\"", price: "15 990 руб", oldPrice: "990 руб", sale: "- 300" }, { srcLg: "img/home/offers/offer-5-lg.webp", srcMd: "img/home/offers/offer-5-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/home/offers/offer-5-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/home/offers/offer-5-xs.webp", mediaXs: "(max-width: 576px)", name: "Диван вел-флок \"Z-85\"", price: "22 990 руб", oldPrice: "32 990 руб", sale: "- 10 000" }, { srcLg: "img/home/offers/offer-6-lg.webp", srcMd: "img/home/offers/offer-6-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/home/offers/offer-6-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/home/offers/offer-6-xs.webp", mediaXs: "(max-width: 576px)", name: "Термометр + гидрометр \"H-18\"", price: "1 390 руб", oldPrice: "2 090 руб", sale: "- 700" }]
            ul.offers__list.list-reset
              each card, index in cards
                if index !== 1
                  li.offers__item
                    article.offers__card.offer
                      span.offer__sale #{card.sale}
                      picture.offer__pic
                        source(srcset=card.srcXs, media=card.mediaXs)
                        source(srcset=card.srcSm, media=card.mediaSm)
                        source(srcset=card.srcMd, media=card.mediaMd)
                        img.offer__img(src=card.srcLg, alt="Изображение товара" loading="lazy")
                      h3.offer__title(tabindex="0") #{card.name}
                      span.offer__price #{card.price}
                      del.offer__price.offer__price_old #{card.oldPrice}
                      button.offer__btn.btn-reset.outline-btn Купить
                else
                  li.offers__item
                    article.offers__card.offer
                      span.offer__sale #{card.sale}
                      picture.offer__pic
                        source(srcset=card.srcXs, media=card.mediaXs)
                        source(srcset=card.srcSm, media=card.mediaSm)
                        source(srcset=card.srcMd, media=card.mediaMd)
                        img.offer__img(src=card.srcLg, alt="Изображение товара" loading="lazy")
                      h3.offer__title(tabindex="0") #{card.name}
                      span.offer__price #{card.price}
                      del.offer__price.offer__price_old #{card.oldPrice}
                      button.offer__btn.btn-reset.outline-btn Купить
                      img.offer__scheme(src="img/home/offers/offer-2-scheme-lg.webp" alt="Схема товара" loading="lazy")

      section.rated.section
        .rated__container.container
          .rated__wrapper.wrapper
            h2.rated__title.title Высокий рейтинг
            - var cards = [{ srcLg: "img/home/rated/rated-1-lg.webp", srcMd: "img/home/rated/rated-1-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/home/rated/rated-1-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/home/rated/rated-1-xs.webp", mediaXs: "(max-width: 576px)", name: "Диван кожаный \"R-94\"", price: "94 990 руб", rating: "5.0" }, { srcLg: "img/home/rated/rated-2-lg.webp", srcMd: "img/home/rated/rated-2-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/home/rated/rated-2-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/home/rated/rated-2-xs.webp", mediaXs: "(max-width: 576px)", name: "Диван апартековый \"T-75\"", price: "69 990 руб", rating: "4.9" }, { srcLg: "img/home/rated/rated-3-lg.webp", srcMd: "img/home/rated/rated-3-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/home/rated/rated-3-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/home/rated/rated-3-xs.webp", mediaXs: "(max-width: 576px)", name: "Диван тканевый \"D-31\"", price: "28 490 руб", rating: "4.8" }, { srcLg: "img/home/rated/rated-4-lg.webp", srcMd: "img/home/rated/rated-4-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/home/rated/rated-4-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/home/rated/rated-4-xs.webp", mediaXs: "(max-width: 576px)", name: "Диван велюровый \"Y-68\"", price: "22 990 руб", rating: "4.8" }, { srcLg: "img/home/rated/rated-5-lg.webp", srcMd: "img/home/rated/rated-5-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/home/rated/rated-5-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/home/rated/rated-5-xs.webp", mediaXs: "(max-width: 576px)", name: "Диван из шинила \"W-95\"", price: "22 990 руб", rating: "4.8" }, { srcLg: "img/home/rated/rated-6-lg.webp", srcMd: "img/home/rated/rated-6-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/home/rated/rated-6-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/home/rated/rated-6-xs.webp", mediaXs: "(max-width: 576px)", name: "Диван флоковый \"G-41\"", price: "17 990 руб", rating: "4.8" }, { srcLg: "img/home/rated/rated-7-lg.webp", srcMd: "img/home/rated/rated-7-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/home/rated/rated-7-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/home/rated/rated-7-xs.webp", mediaXs: "(max-width: 576px)", name: "Диван шиниловый \"V-43\"", price: "19 990 руб", rating: "4.8" }, { srcLg: "img/home/rated/rated-8-lg.webp", srcMd: "img/home/rated/rated-8-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/home/rated/rated-8-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/home/rated/rated-8-xs.webp", mediaXs: "(max-width: 576px)", name: "Диван велюровый \"S-99\"", price: "19 990 руб", rating: "4.7" }]
            ul.rated__list.list-reset
              each card in cards
                li.rated__item
                  include ./templates/_productCard.pug

      article.ad-second.ad.section
        .ad-second__container.container
          .ad-second__wrapper.wrapper
            h3.ad-second__title(tabindex="0") Оксфорд 1950
            p.ad-second__desc(tabindex="0") Новая коллекция изысканных кресел
            button.ad-second__btn.btn-reset.primary-btn Ознакомиться

      section.categories.section
        .categories__container.container
          .categories__wrapper.wrapper
            h2.categories__title.title Топ категории
            - var cards = [{ srcLg: "img/home/categories/category-1-lg.webp", srcMd: "img/home/categories/category-1-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/home/categories/category-1-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/home/categories/category-1-xs.webp", mediaXs: "(max-width: 576px)", name: "Диваны", subcategories: [{ name: "Прямые" }, { name: "Угловатые" }, { name: "Модульные" }] }, { srcLg: "img/home/categories/category-2-lg.webp", srcMd: "img/home/categories/category-2-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/home/categories/category-2-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/home/categories/category-2-xs.webp", mediaXs: "(max-width: 576px)", name: "Кресла", subcategories: [{ name: "Мягкие" }, { name: "Кресла-кровати" }] }, { srcLg: "img/home/categories/category-3-lg.webp", srcMd: "img/home/categories/category-3-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/home/categories/category-3-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/home/categories/category-3-xs.webp", mediaXs: "(max-width: 576px)", name: "Кровати", subcategories: [{ name: "Односпальные" }, { name: "Двуспальные" }] }, { srcLg: "img/home/categories/category-4-lg.webp", srcMd: "img/home/categories/category-4-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/home/categories/category-4-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/home/categories/category-4-xs.webp", mediaXs: "(max-width: 576px)", name: "Тумбы и комоды", subcategories: [{ name: "Тумбы" }, { name: "Комоды" }] }, { srcLg: "img/home/categories/category-5-lg.webp", srcMd: "img/home/categories/category-5-md.webp", mediaMd: "(max-width: 1366px)", srcSm: "img/home/categories/category-5-sm.webp", mediaSm: "(max-width: 992px)", srcXs: "img/home/categories/category-5-xs.webp", mediaXs: "(max-width: 576px)", name: "Стулья", subcategories: [{ name: "Деревянные" }, { name: "Металлокаркас" }] }]
            ul.categories__list.list-reset
              each card, index in cards
                li.categories__item(class=`categories__item_${index + 1}`)
                  article.categories__card.category
                    ul.category__list.list-reset
                      each subcategory in card.subcategories
                        li.category__item
                          a.category__link(href="#")  #{subcategory.name}
                    h3.category__title(tabindex="0") #{card.name}
                    picture.category__pic
                      source(srcset=card.srcXs, media=card.mediaXs)
                      source(srcset=card.srcSm, media=card.mediaSm)
                      source(srcset=card.srcMd, media=card.mediaMd)
                      img.category__img(src=card.srcLg, alt="Пример товара из категории" loading="lazy")
                    button.category__btn.btn-reset
                      span В&nbsp;Каталог
                      .icon-container
                        svg.icon.icon-arrow(width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                          use(xlink:href="img/sprite.svg#arrow")

      section.useful.section
        .useful__container.container
          .useful__wrapper.wrapper
            h2.useful__title.title Полезное
            - var cards = [{ desc: "И нет сомнений, что сделанные на базе интернет-аналитики выводы представляют собой не что иное?"}, { desc: "Как принято считать, некоторые особенности приносят несомненную пользу обществу?"}, { desc: "Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?"}, { desc: "Прежде всего, консультация с широким активом однозначно фиксирует необходимость распределения?"}, { desc: "Как принято считать, некоторые особенности приносят несомненную пользу обществу?"}]
            ul.useful__list.list-reset
              each card, index in cards
                li.useful__item(class=`useful__item_${index + 1}`)
                  div.useful__card.topic(class=`topic-decoration-${index + 1}`)
                    p.topic__desc #{card.desc}
                    button.topic__btn.btn-reset.outline-btn Читать

      section.subscription.section
        .subscription__container.container
          .subscription__wrapper.wrapper
            .subscription__form-container
              h2.subscription__title.title Мы&nbsp;всегда вам рады!
              p.subscription__desc Безусловно, новая модель организационной деятельности в&nbsp;значительной степени обусловливает важность распределения внутренних резервов и&nbsp;ресурсов.
              form.subscription__form(action="#" method="post")
                .subscription__input.input
                  label.input__label.hidden(for="name") Введите имя:
                  input.input__control(type="text" id="name" name="name" placeholder="Как Вас зовут?")
                .subscription__input.input
                  label.input__label.hidden(for="phone") Введите имя:
                  input.input__control(type="phone" id="phone" name="phone" placeholder="Ваш телефон")
                .subscription__input.input
                  label.input__label.hidden(for="email") Введите имя:
                  input.input__control(type="email" id="email" name="email" placeholder="Ваш e-mail")
                button.subscription__btn.btn-reset.primary-btn(type="submit") Отправить
                .subscription__input.input.input_checkbox
                  label.input__label.input__label_checkbox(for="license")
                    input.input__control.input__control_checkbox.hidden(type="checkbox" id="license" name="license" checked)
                    span.input__text.custom-checkbox Принимаю&nbsp;
                      a.input__link пользовательское соглашение

            picture.subscription__pic
              source(srcset="img/home/subscription/subscription-xs.webp" media="(max-width: 576px)")
              source(srcset="img/home/subscription/subscription-sm.webp" media="(max-width: 992px)")
              source(srcset="img/home/subscription/subscription-md.webp" media="(max-width: 1366px)")
              img.subscription__img(src="img/home/subscription/subscription-lg.webp" alt="" loading="lazy" aria-hidden="true")

    include ./shared/_footer.pug

